.wallpaperscontainer{
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: min(100%, 85vw);
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 0.5vmin;
    row-gap: 1vmin;
}
.wallpaperbox{
    place-self: center;
}
.wallpaperbox a{
    display: block;
}
.wallpaper{
    display: block;
    max-width: 200px; 
    max-height: 150px;
    object-fit: contain;
    box-shadow: 5px 5px 10px black ;
    transition: .5s;
    border-radius: 15px;
}
.wallpaper:hover{
    opacity: 0.75;
    box-shadow: 8px 8px 12px black;
}
.wallpapercontainerheader{
    text-align: center;
    font-size: 2em;
    margin: 2vh 0px;
}

@media (max-width: 992px) 
{
    .wallpaperscontainer{
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 4vmin;
    }
    .wallpaperbox:nth-child(n+7){
        display: none;
    }
    
}

@media (max-width: 768px) 
{
    .wallpaperscontainer{
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 576px) 
{
    .wallpaperscontainer{
        grid-template-columns: 1fr;
    }
    

}






