.wallpapercontainer{
    display: flex;
    justify-content: center;
    margin:10px;
    
}
.wallpaperbox{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.wallpaperbox img{
    
    max-width: 300px;
    max-height: 400px;
    object-fit: contain;
    margin-bottom: 10px;
}
.wallpaperdescriptionbox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    font-size: 3vmin;
}
.description{
    margin-bottom: 10px;
}
.description p{
    font-size: smaller;
}

.wallpaperbutton{
    border: none;
    color: white;
    border-radius: 10px;
    background-color: #14A1D9;
    box-shadow: black 0px 0px 8px;
    width: 50%;
    height: 26px;
    transition: 0.5s;
    cursor: pointer;
}
.wallpaperbutton:hover{
    box-shadow: black 0px 4px 15px;
}